*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
.container{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 10px solid rgba(58, 128, 0, 0.621);
}
.section-1{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    column-gap: 20px;
}
.img-art2{
    width: 100%;
    border-radius: 15px;
}
button{
    border: 0px;
    margin-top: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    background-color: rgba(58, 128, 0, 0.274);
}
h1{
    font-size: 45px;
    font-weight: 300px;
    line-height: 1.0;
    margin-bottom: 20px;
}
p{
    line-height: 1.6;
    margin-bottom: 20px;
}
button:hover{
    background-color: rgba(0, 255, 149, 0.386);
}
.sec2-art1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.sec2-heading{
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    margin-bottom: 20px;
}
.section3{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 20px;
    background-color: rgba(58, 128, 0, 0.274);
    margin: 20px;
    border-radius: 10px;
    column-gap: 5%;
}
.sec3-img{
    margin: 20px;
    border-radius: 15px;
}
.sec3-art{
    margin-top: 30px;
}
.sec3-pargraph{
    font-style: italic;
}
.sec4-art{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}
.sec4-h{
    margin-bottom: 20px;
}
.sec4-art1{
    border-radius: 15px;
    background-color: beige;
}
.sec4-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.price{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}
.art1-h{
    margin-left: 40px;
    margin-top: 20px
}
.sec4-art2{
    margin-left: 20px;
}
.cart-btn{
    border: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    justify-items: center;
    padding: 10px;
    background-color: rgba(58, 128, 0, 0.274);
}
.section4{
    margin-bottom: 20px;
}
footer{
    margin-bottom: 20px;
}